@import "utils";

.not-found {
  background: $oc-violet-7;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  .description {
    color: white;
    font-size: 2rem;

    @include media("<medium") {
      font-size: 1.5rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .go-back {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      color: white;
      font-weight: 700;

      border: 1px solid white;
      border-radius: 2px;

      cursor: pointer;

      user-select: none;

      &:hover {
        background: $oc-violet-6;
      }

      &:active {
        background: $oc-violet-7;
      }
    }
  }
}
