@import "utils";

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  .title {
    border-bottom: 1px solid $oc-gray-8;
    padding-bottom: 0.75rem;

    font-size: 1.25rem;
    font-weight: 500;
  }

  .error {
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    .message {
      color: $oc-red-7;
      font-size: 1.25rem;
    }
  }

  input {
    margin-top: 0.75rem;
    height: 2.5rem;
    border: 1px solid $oc-gray-5;
    border-radius: 2px;

    outline: none;

    font-size: 1.5rem;
    padding: 0.25rem;

    background: $oc-gray-5;

    color: white;
    font-weight: 600;

    flex: 1;
  }
}
