@import "utils";

.wrapper {
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  width: 1024px;
  @include media("<medium") {
    width: 95%;
  }

  padding-top: 1rem;
  padding-bottom: 1rem;
}
