@import "utils";

.note-item {
  display: flex;
  align-items: center;
  height: 3rem;
  background: $oc-gray-5;

  padding-left: 1rem;
  padding-right: 1rem;

  cursor: pointer;

  .note {
    color: white;

    font-weight: 600;
    font-size: 1.25rem;
  }

  .delete {
    margin-left: auto;
    cursor: pointer;

    color: white;
    font-weight: 800;
    font-size: 2rem;

    user-select: none;
  }
  .return {
    display: flex;
    align-items: center;
    margin-left: auto;
    cursor: pointer;

    color: white;
    font-weight: 800;
    font-size: 1.5rem;
  }

  input {
    height: 100%;
    width: 100%;

    outline: none;
    background: $oc-gray-6;
    border: 1px solid $oc-gray-6;

    font-size: 1.5rem;
    color: white;
    font-weight: 600;
  }
}

.editing {
  background: $oc-gray-6;
}
