@import "utils";

.note-list {
  .title {
    border-bottom: 1px solid $oc-gray-5;
    padding-bottom: 0.75rem;

    font-size: 1.25rem;
    font-weight: 500;

    margin-bottom: 1rem;
  }

  .note-item + .note-item {
    margin-top: 1rem;
  }
}
